<%- include('newHeader'); -%>
    <link rel="stylesheet" href="../styles/newHub.css">
    <div class="scroll-container">
        <div class="mainContainer">
            <div class="appList">
                <a href="appEtherpadLoad.ejs">
                    <div class="containerItem containerItem1 transformBackground">
                        <div class="containerItemTitle transform">
                            Text Editor
                        </div>
                    </div>
                </a>
                <a href="appMindmapLoad.ejs">
                    <div class="containerItem containerItem5 transformBackground">
                        <div class="containerItemTitle transform">
                            Brain Storming
                        </div>
                    </div>
                </a>
                <!--File Browser -->
                <a href="filebrowserLoad.ejs">
                    <div class="containerItem containerItem6 transformBackground">
                        <div class="containerItemTitle transform">
                            File Sharing
                        </div>
                    </div>
                </a>
                <a href="appEthercalcLoad.ejs">
                    <div class="containerItem containerItem4 transformBackground">
                        <div class="containerItemTitle transform">
                            Spreadsheet
                        </div>
                    </div>
                </a>
                <a href="drawPadLoad">
                    <div class="containerItem containerItem3 transformBackground">
                        <div class="containerItemTitle transform">
                            Drawing Pad
                        </div>
                    </div>
                </a>
                <!--WEKAN -->
                <a href="wekanLoad.ejs">
                    <div class="containerItem containerItem2 transformBackground">
                        <div class="containerItemTitle transform">
                            Project Management
                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </div>
            <div class="userList">
                <div class="entryContainer">
                    <% if(group) { %>
                        <% for(let i=0; i < group.users.length; i++) { %>
                            <% if(user.name !=group.users[i].name) { %>
                                <div class="containerItem">
                                    <!-- Beleve it or not this is valid ejs code --->
                                    <div style='background-color: <%=group.users[i].color%>;'>
                                        <%=group.users[i].name%>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>
                                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <script>
        let user = '<%-JSON.stringify(user)%>';
    </script>
    <script src="../scripts/hub/hub.js"></script>
    <%- include('footer'); -%>